<head>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css', integrity: 'sha256-i1XaF66mF0Y3xVWjC8g+oJd07bcL/q6KRr+g7DnIAnk=', crossorigin: 'anonymous' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha256-i1XaF66mF0Y3xVWjC8g+oJd07bcL/q6KRr+g7DnIAnk=" crossorigin="anonymous">
</head>

<body>
  
<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <li><%= link_to task.title, task_path(task.id) %></li>
      <%= link_to destroy_path(task),
                  data: { turbo_method: :delete,turbo_confirm: "Are you sure?" },
                  class: "delete-link" do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </li>
  <% end %>
</ul>


<%= link_to "Add a new task", new_task_path  %>
</body>